@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: 'Montserrat', sans-serif;
}

.toast-message {
    background: rgb(33, 190, 164);
    color: #fff;
    font-size: 40px;
}

.card {
  width: 500px;
  height: 250px;
  border: 4px solid rgb(130, 100, 185);
  border-radius: 15px;
  text-align: center;
}

.registerPage {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchFlights {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.buyFlights {
  margin-top: 300px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.searchReports {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: xx-large;
  text-decoration-line: underline;
}

.redirect {
  color: blue;
  text-decoration-line: underline;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1500px;
  height: auto;
  padding: 40px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  margin-top: 230px;
  font-size: x-large;
  line-height: 50px;
}

.returnDate {
  line-height: 50px;
  width: 1410px;
}

.returnDate2 {
  line-height: 50px;
  width: 910px;
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: auto;
  padding: 40px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  margin-top: 230px;
  font-size: x-large;
  line-height: 50px;
}

.column {
  float: left;
  width: 33.33%;
}

.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  padding: 40px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  margin-top: 20px;
  font-size: x-large;
  line-height: 50px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

span{
  color: red;
}

.button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h3{
  margin-top: 200px;
}

.table{
  margin-top: 200px;
}